<!DOCTYPE html>
<html>
<head>
	<title>Ashen's blog</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.css">
	<!-- couldn't get external style sheet to work -->
	<style>
        i.icon{
            font-size: 2em;
        }
        .container.main{
            margin-top: 7.0em;
        }
	</style>
</head>
<body>
    <div class ="ui fixed inverted menu">
        <div class="ui container">
            <div class="header item"><i class="code icon"></i>Restful Blog</div>
            <a href="/" class="item">Home</a>
            <a href="/blog/new" class="item">New Post</a>
        </div>
    </div>

